<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Users</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="w-full bg-zinc-900 p-10 text-white">
      <a class="text-blue-500" href="/">Back to Home</a>
      <h1 class="text-3xl mt-10 mb-3 tracking-tighter">All Users</h1>
      <div class="users flex gap-5 flex-wrap w-[85%] mx-auto">
        <% if(users.length > 0) { %> <% users.forEach((user) => { %>
        <div class="user w-72 p-4 bg-zinc-800 rounded-lg">
          <div class="w-full h-52 rounded-lg bg-zinc-700 overflow-hidden">
            <img class="w-full h-full object-cover" src="<%= user.image %>" alt="" />
          </div>
          <h3 class="text-xl tracking-tighter mt-3 text-blue-500"><a href="/profile/<%= user.slug %>"><%= user.name %></a></h3>
          <h5 class="text-zinc-500"><%= user.email %></h5>
          <div class="flex justify-between mt-10">
            <a class="text-yellow-500" href="/edit/<%= user._id %>">Edit User</a>
            <a class="text-red-500" href="/delete/<%= user._id %>">Delete User</a>
          </div>
        </div>
        <% }) %> <% } else { %>
        <h3 class="text-zinc-500">No Users Yet</h3>
        <% } %>
      </div>
    </div>
  </body>
</html>
